# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [21]:
import pandas as pd

def limpito(datitos: pd.DataFrame):
    dataframe = datitos.copy()
    # Todas las columnas en minuscula y espacio por _:
    dataframe.columns = [x.lower().replace(' ','_') for x in dataframe.columns]
    # Cambiar columna st por state
    dataframe.columns = [x.replace('st','state') if x == 'st' else x for x in dataframe.columns ]
    # Unificar valores en columnas
    dataframe['gender'] = dataframe['gender'].map({'Male':      'M', 
                                                   'Female':    'F', 
                                                   'Femal':     'F', 
                                                   'female':    'F', 
                                                   'M':         'M',
                                                   'F':         'F'})

    dataframe['state'] = dataframe['state'].map({'Washington':'Washington',
                                'Arizona':'Arizona',
                                'Nevada':'Nevada',
                                'California':'California',
                                'Oregon':'Oregon',
                                'Cali': 'California',
                                'AZ': 'Arizona',
                                'WA': 'Washington'})

    dataframe['education'] = dataframe['education'].replace('Bachelors','Bachelor')
    try:
        dataframe['customer_lifetime_value'] = dataframe['customer_lifetime_value'].str.replace('%','')
    except:
        pass

    dataframe['vehicle_class'] = dataframe['vehicle_class'].replace('Sports Car','Luxury')
    dataframe['vehicle_class'] = dataframe['vehicle_class'].replace('Luxury SUV','Luxury')
    dataframe['vehicle_class'] = dataframe['vehicle_class'].replace('Luxury Car','Luxury')

    # Forzar numericos:

    dataframe['customer_lifetime_value'] = pd.to_numeric(dataframe['customer_lifetime_value'], errors = 'coerce')
    try:
        dataframe['number_of_open_complaints'] = dataframe['number_of_open_complaints'].str.replace('/00','')
        dataframe['number_of_open_complaints'] = dataframe['number_of_open_complaints'].str.replace('1/','')
    except:
        pass
    dataframe['number_of_open_complaints'] = pd.to_numeric(dataframe['number_of_open_complaints'], errors = 'coerce')

    # Corregir valores NaN:

    dataframe = dataframe.dropna(how='all') # Rows with all characters NaN do not give information, we can discard them.
    dataframe['customer_lifetime_value'] = dataframe['customer_lifetime_value'].fillna(dataframe['customer_lifetime_value'].mean())
    
    # Detectar si hay duplicados:

    if dataframe.duplicated().sum() == 0:
        print('No hay duplicados')
    else:
        print('Duplicated rows need removing')
        dataframe.drop_duplicates(inplace=True)
        print('Duplicated rows have been removed')
    
    return dataframe

In [22]:
# Your code goes here

data1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
data2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
data3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')
data3.head()
df1 = limpito(data1)
df2 = limpito(data2)
df3 = limpito(data3)

No hay duplicados
No hay duplicados
No hay duplicados

In [25]:
datitaframe = pd.concat([df1, df2, df3], ignore_index=True)

limpito(datitaframe)

Duplicated rows need removing
Duplicated rows have been removed

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,College,2.611837e+03,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [35]:
# Your code goes here

data4 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
data4.columns = ['INDEX' if x == 'unnamed:_0' else x for x in data4.columns ]
data4.columns

Index(['INDEX', 'customer', 'state', 'customer_lifetime_value', 'response',
       'coverage', 'education', 'effective_to_date', 'employmentstatus',
       'gender', 'income', 'location_code', 'marital_status',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [60]:
data4.tail()

Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: policy_type, dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [41]:
pivot_df = data4.pivot_table(index='INDEX', columns='sales_channel', values=['total_claim_amount'], aggfunc='sum').fillna(0)

# Calcular la suma de cada columna
totals = pivot_df.sum().round(2)

# Convertir a un diccionario si lo deseas
totals_df = pd.DataFrame(totals).transpose()

# Imprimir el resultado
print(totals_df)

              total_claim_amount
sales_channel              Agent     Branch Call Center        Web
0                     1810226.82  1301204.0   926600.82  706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [47]:
pivot_df2 = data4.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'],aggfunc='mean').round(2)

pivot_df2

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.51  7415.33
High School or Below                 8675.22  8149.69
Master                               8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [69]:
# Your code goes here

data4short = data4[['policy_type', 'month','number_of_open_complaints']]
df_multiindex = data4short.set_index(['policy_type', 'month'])

stacked_data = df_multiindex.stack()
stacked_data

# Agrupa por `policy_type` y `month`, luego suma los `customer_revenue`
grouped_data = data4short.groupby(['policy_type', 'month']).sum()

# Convierte el resultado de agrupado a un DataFrame plano si prefieres
stacked_summarized_data = grouped_data.reset_index()

print(stacked_summarized_data.head())

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049